.app-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    background-color: #fff;
    height: 60px;

}

.app-header .logo{
    font-family: billabong;
    font-size: 30px;
    padding: 0 20px;

    
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 33%;

}